body {
  font-family: "Roboto", sans-serif;
}

header {
  border: 1px solid black;
  background-color: #ffc017;
  height: 6em;
}

nav {
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
}

nav ul {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul li {
  border: 1px solid black;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a :hover,
:visited,
:active {
  color: black;
}

nav button {
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.8em;
  width: 7em;
}
