body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffc017;
}

nav {
  box-sizing: border-box;

  height: 10%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
  position: fixed;
  top: 0px;
  background-color: #ffc017;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a :hover,
:visited,
:active {
  color: black;
}

nav button {
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 3em;
  width: 8em;
}

nav img {
  height: 2em;
}

.hero {
  height: 80%;
  padding-top: 8em;
  display: flex;
  justify-content: space-between;
}

.hero h3 {
  font-family: "Spectral", serif;
  font-size: 7rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.hero span {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.hero button {
  font-size: 1.7em;
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.2em;
  width: 10em;
}

.hero div {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-top: 5.5em;
}

.trends {
  display: flex;

  height: 25em;
  flex-wrap: wrap;
}

.trendsin2 {
  display: flex;
  flex-direction: column;
  padding: 3em 15em;
}

.trends article {
  width: 24em;
  display: flex;
  flex-grow: 1;
  gap: 2em;
  padding-top: 1.2em;
  padding-right: 6em;
}

.trendsin2 h4 {
  font-weight: bold;
  padding-top: 4em;
}

.trendsin2 h4 i {
  display: inline-block;

  width: 1.5em;
  height: 1.5em;

  text-align: center;
  line-height: 1.5em;
  margin-right: 2em;
  border-radius: 50%;
  border: 1px solid black;
}

.number {
  font-size: 2.2em;

  color: #e6e7e7;
  font-weight: bold;
}

.trends section {
  display: flex;
  flex-direction: column;
  padding-top: 0.4em;
  flex-grow: 1;
  gap: 1em;
}

.trends h5 {
  font-weight: bold;
}

.trends span {
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

.trends span img {
  margin-left: 0.6em;
}

.trendsAuthor {
  font-size: 0.6em;
  font-weight: bold;
}

.trends img {
  width: 2em;
  border-radius: 0.5em;
}

.trends article:nth-of-type(1) img {
  border-radius: 2em;
}

.trendsAuthor {
  display: flex;
  align-items: center;
  gap: 1em;
}

.bottom {
  display: flex;

  padding: 3em 14em;
  gap: 3em;
}

.news {
  width: 65%;
  display: flex;
  flex-direction: column;

  gap: 2em;
}

.article-row {
  display: flex;
  flex-grow: 1;
  gap: 3em;
  padding: 0.5em 0;
}

.article-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
}
.author img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.article-text h5 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 0.1em;
}

.article-text h6 {
  font-size: 1em;
  font-weight: 400;
  color: #757575;
  line-height: 1.4;
}

.article-text span {
  font-size: 0.8em;
  color: #757575;
}

.article-image {
  width: 35%;
  height: 9em;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  position: sticky;
  top: 8em;

  align-items: flex-start;
  max-height: 10vh;
}

.categories h5 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 2em;
}

.tag {
  padding: 0.5em 1em;

  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  color: #5c5c5ca8;
  border: 1px solid #c4c4c4;
}

.pseudo-footer {
  padding-right: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.pseudo-footer a {
  font-size: 1em;
  color: #757575;
  text-decoration: none;
}
