body {
  font-family: "Roboto", sans-serif;
}

header {
  border: 1px solid black;
  background-color: #ffc017;
  height: 40em;
}

nav {
  height: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
}

nav ul {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul li {
  border: 1px solid black;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a :hover,
:visited,
:active {
  color: black;
}

nav button {
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.8em;
  width: 7em;
}

.hero {
  height: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.hero h3 {
  font-family: "Spectral", serif;
  font-size: 7rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.hero span {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.hero button {
  font-size: 1.7em;
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.2em;
  width: 10em;
}

.hero div {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-top: 5.5em;
}

.trends {
  display: flex;
  border: 1px solid black;
  height: 25em;
  flex-wrap: wrap;

  padding: 5em 15em;
}

.trends article {
  border: 1px solid black;
  width: 24em;
  display: flex;
  flex-grow: 1;
  margin-top: 2em;
  padding-top: 2em;
}

.trends h4 {
  position: absolute;
  font-weight: bold;
}

.number {
  font-size: 2.2em;
  width: 2.5em;
  color: #e6e7e7;
  font-weight: bold;
}

.trends section {
  display: flex;
  flex-direction: column;
  padding-top: 1em;

  flex-grow: 1;
  gap: 1em;
}

.trends h5 {
  font-weight: bold;
}

.trends span {
  font-size: 0.7em;
}

.trendsAuthor {
  font-size: 0.6em;
  font-weight: bold;
}

.trends img {
  width: 2em;
}

.trendsAuthor {
  display: flex;
  align-items: center;
  gap: 1em;
}
