body {
  font-family: "Roboto", sans-serif;
}

header {
  border: 1px solid black;
  background-color: #ffc017;
  height: 40em;
}

nav {
  height: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
}

nav ul {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul li {
  border: 1px solid black;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a :hover,
:visited,
:active {
  color: black;
}

nav button {
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.8em;
  width: 7em;
}

.hero {
  height: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.hero h3 {
  font-family: "Spectral", serif;
  font-size: 7rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.hero span {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.hero button {
  font-size: 1.7em;
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.2em;
  width: 10em;
}

.hero div {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-top: 5.5em;
}

.trends {
  display: flex;
  border: 1px solid black;
  height: 25em;
  flex-wrap: wrap;

  padding: 5em 15em;
}

.trends article {
  border: 1px solid black;
  width: 24em;
  display: flex;
  flex-grow: 1;
  margin-top: 2em;
  padding-top: 2em;
}

.trends h4 {
  position: absolute;
  font-weight: bold;
}

.number {
  font-size: 2.2em;
  width: 2.5em;
  color: #e6e7e7;
  font-weight: bold;
}

.trends section {
  display: flex;
  flex-direction: column;
  padding-top: 1em;

  flex-grow: 1;
  gap: 1em;
}

.trends h5 {
  font-weight: bold;
}

.trends span {
  font-size: 0.7em;
}

.trendsAuthor {
  font-size: 0.6em;
  font-weight: bold;
}

.trends img {
  width: 2em;
}

.trendsAuthor {
  display: flex;
  align-items: center;
  gap: 1em;
}

.bottom {
  display: flex;

  padding: 3em 10em;
  gap: 3em;
}

.news {
  width: 65%;
  display: flex;
  flex-direction: column;

  gap: 2em;
}

.article-row {
  display: flex;
  flex-grow: 1;
  gap: 3em;
  padding: 0.5em 0;
}

.article-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
}
.author img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.article-text h5 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 0.1em;
}

.article-text h6 {
  font-size: 1em;
  font-weight: 400;
  color: #757575;
  line-height: 1.4;
}

.article-text span {
  font-size: 0.8em;
  color: #757575;
}

.article-image {
  width: 35%;
  height: 9em;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories {
  width: 35%;
}

.categories {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  /* position: sticky; 
  top: 0; /* Si attacca in cima alla finestra */
  /* height: 100vh; Rende la barra alta quanto la viewport (necessario per sticky) GUARDO BENE DOMANI  */
  align-items: flex-start;
}

.categories h5 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
}

.tag {
  padding: 0.5em 1em;

  border-radius: 3px;
  font-size: 0.8em;
  text-decoration: none;
  color: #5c5c5c;
  border: 1px solid #f1f2f2;
}
