html,
body {
  position: static;
  overflow-x: visible;

  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffc017;
  border-bottom: 1px solid;
}

nav {
  box-sizing: border-box;

  height: 10%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
  position: fixed;
  top: 0px;
  background-color: #ffc017;
  width: 100%;
  transition: background-color 0.6s ease-in-out;
  z-index: 10;
}
nav ul li a:visited button {
  color: white;
}

nav.scrolled {
  background-color: white;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a :hover,
:visited,
:active {
  color: black;
}

nav button {
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 3em;
  width: 8em;
  transition: background-color 0.6s ease-in-out;
}

nav.scrolled button {
  background-color: #1a8917;
}

nav img {
  height: 2em;
}

.hero {
  height: 80%;
  padding-top: 8em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4em;
  overflow: hidden;
}

.hero h3 {
  font-family: "Spectral", serif;
  font-size: 7rem;
  font-weight: 600 !important;
  letter-spacing: -8px;
  margin-bottom: 0.3em;
}

.hero span {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.hero button {
  font-size: 1.7em;
  background-color: black;
  color: white;
  border-radius: 1.3em;
  height: 2.2em;
  width: 10em;
}
.hero a:visited button {
  color: white;
}

.hero div {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-top: 5.5em;
}

.hero img {
  translate: -100px;
  scale: 140%;
}

.trends {
  display: flex;

  height: 25em;
  flex-wrap: wrap;
}

.trendsin2 {
  display: flex;
  flex-direction: column;
  padding: 3em 15em;
}

.trends article {
  width: 24em;
  display: flex;
  flex-grow: 1;
  gap: 2em;
  padding-top: 1.2em;
  padding-right: 6em;
}

.trends-article-link {
  text-decoration: none;
}

.trendsin2 h4 {
  font-weight: bold;
  padding-top: 4em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.number {
  font-size: 2.2em;

  color: #e6e7e7;
  font-weight: bold;
}

.trends section {
  display: flex;
  flex-direction: column;
  padding-top: 0.4em;
  flex-grow: 1;
  gap: 1em;
}

.trends h5 {
  font-weight: bolder;
  line-height: 1.3;
}

.trends span {
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

.trends span img {
  margin-left: 0.6em;
}

.trendsAuthor {
  font-size: 0.6em;
  font-weight: bold;
}

.trends img {
  width: 2em;
  border-radius: 0.5em;
}

.trends article:nth-of-type(1) img {
  border-radius: 2em;
}

.trendsAuthor {
  display: flex;
  align-items: center;
  gap: 1em;
}

.bottom {
  display: flex;
  overflow: visible;
  padding: 3em 14em;
  gap: 3em;
  align-items: flex-start;
}

.news {
  width: 65%;
  display: flex;
  flex-direction: column;

  gap: 2em;
}

.news-article-link {
  text-decoration: none;
  line-height: 2em;
}

.article-row {
  display: flex;
  flex-grow: 1;
  gap: 3em;
  padding: 0.5em 0;
}

.article-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.article-text span {
  display: flex;
  align-items: center;
}

.article-text img {
  padding-left: 1em;
}

.article-text img:nth-of-type(2) {
  align-self: flex-end;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bookmark-link.saved-icon img {
  filter: invert(30%) sepia(90%) saturate(1500%) hue-rotate(180deg) brightness(80%);
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
}
.author img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  padding-left: 0;
}

.article-text h5 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 0.1em;
}

.article-text h6 {
  font-size: 1em;
  font-weight: 400;
  color: #757575;
  line-height: 1.4;
}

.article-text span {
  font-size: 0.8em;
  color: #757575;
}

.article-image {
  width: 35%;
  height: 9em;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related {
  text-decoration: none;
  background-color: #f0f0f0;
  color: #757575;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  font-weight: 500;

  margin-left: 0.5em;
}

.categories {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  position: sticky;
  top: 8em;
  height: fit-content;
  align-items: flex-start;
}

.categories h5 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 2em;
}

.tag {
  padding: 0.5em 1em;

  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  color: #5c5c5ca8;
  border: 1px solid #c4c4c4;
}

.pseudo-footer {
  padding-right: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.pseudo-footer a {
  font-size: 1em;
  color: #757575;
  text-decoration: none;
}

@media screen and (max-width: 1920px) {
  .trends {
    display: grid; /* unico modo per non impazzire spero ok*/
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 4em;
    height: auto;
  }

  .trends article {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 1500px) {
  nav {
    padding-left: 5em;
    padding-right: 10em;
  }

  .hero div {
    margin-left: 5em;
  }

  .trendsin2 {
    padding: 3em 6em;
  }

  .bottom {
    padding: 3em 5em;
    gap: 2em;
  }

  .hero h3 {
    font-size: 6rem;
  }

  .hero span {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1300px) {
  body {
    width: 100%;
  }
  nav {
    padding-left: 4em;
    padding-right: 15em;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .hero {
    width: 100%;
    height: 28em;
    background-color: #ffc017;
  }

  .hero img {
    width: 35%;
    scale: 170%;
    translate: 3em;
  }

  .hero div {
    width: 65%;
    margin-left: 4em;
    margin-top: 4em;
  }

  .trends {
    height: auto;
    gap: 0em 8em;
  }

  .trendsin2 {
    padding: 0em 0em 0em 6em;
  }

  .trends article {
    width: 30%;
  }

  .bottom {
    flex-direction: column;
    width: 100%;
    padding: 0em 0em;
  }

  .news {
    box-sizing: border-box;
    order: 2;
    width: 100%;
    padding: 0 3em 0 3em;
  }

  .article-row {
    width: 100%;
  }

  .categories {
    box-sizing: border-box;
    width: 100%;
    padding: 3em 4em 10em 4em;
    position: sticky;
    bottom: 0;
    top: unset;
    z-index: 50;
  }
}

@media screen and (max-width: 800px) {
  .hero h3 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  nav {
    padding-right: 2em;
  }

  .hero {
    padding-left: 4em;
    padding-right: 4em;
  }

  .hero img {
    object-fit: contain;
    scale: 200%;
  }

  .hero div {
    width: 65%;
    margin-top: 4em;
  }

  .trends {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 4em;
    height: auto;
  }

  .trends article {
    width: 100%;
    padding-right: 0;
  }

  .bottom {
    flex-direction: column;
    padding: 0;
  }

  .news {
    width: 100%;
    padding: 0 3em;
  }

  .categories {
    width: 100%;
    position: static;
    padding: 3em 4em;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding-left: 2em;
    padding-right: 2em;
  }

  nav ul {
    display: flex;
    gap: 1em;
  }

  nav ul li:nth-child(-n + 3) {
    display: none;
  }

  nav ul li:nth-child(4) {
    display: block;
  }

  nav ul li:last-child {
    display: block;
  }
  .hero {
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em;
    min-height: auto;
    height: auto;
    padding-top: 12em;
    padding-bottom: 8em;
  }

  .hero div {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .hero h3 {
    font-size: 6rem;
    margin-top: 0.2em;
    font-weight: bold;
  }

  .hero span {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .hero img {
    display: none;
  }

  .hero button {
    margin-top: 1em;
  }

  .trendsin2 {
    padding: 1em 2em;
    margin-bottom: 1em;
  }

  .trends {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    gap: 1em;
  }

  .trends article {
    width: 100%;
  }

  .bottom {
    flex-direction: column;
    padding: 0;
  }

  .news {
    width: 100%;
    padding: 0 2em;
  }

  .article-row {
    flex-direction: row;
    gap: 1em;
  }
  .article-text {
    width: 75%;
  }
  .article-image {
    width: 25%;
    height: 5em;
  }

  .article-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .categories {
    width: 100%;
    position: static;
    padding: 3em 2em;
    border-top: 1px solid #c4c4c4;
  }
}
